# Data Files
!manifest.json # Example: Un-ignore a specific file if needed

# Logs and Shell History
*.log
.bash_history
.zsh_history

# OS Metadata
.DS_Store
Thumbs.db
.directory

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
tmp/
temp/
node_modules

/first-names/batch/
/last-names/batch/
